.tooltip[data-popper-interactive="false"] {
  pointer-events: none;
}

.arrow,
.arrow::before {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  background-color: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  content: "";
  visibility: visible;
  transform: rotate(45deg);
}

.tooltip[data-popper-placement^="top"] > .arrow {
  bottom: 0.25rem;
}

.tooltip[data-popper-placement^="bottom"] > .arrow {
  top: 0.25rem;
}

.tooltip[data-popper-placement^="left"] > .arrow {
  right: 0.25rem;
}

.tooltip[data-popper-placement^="right"] > .arrow {
  left: 0.25rem;
}